.frame4-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame4-frame4 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame4-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 231px;
  position: absolute;
}
.frame4-rectangle6 {
  top: 833px;
  left: 0px;
  width: 1440px;
  height: 191px;
  position: absolute;
}
.frame4-rectangle7 {
  top: 281px;
  left: 70px;
  width: 400px;
  height: 500px;
  position: absolute;
}
.frame4-text {
  top: 326px;
  left: 547px;
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-text02 {
  top: 333px;
  left: 101px;
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-text04 {
  top: 326px;
  left: 997px;
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-rectangle8 {
  top: 281px;
  left: 520px;
  width: 400px;
  height: 500px;
  position: absolute;
}
.frame4-rectangle9 {
  top: 283px;
  left: 970px;
  width: 400px;
  height: 500px;
  position: absolute;
}
.frame4-text06 {
  top: 326px;
  left: 547px;
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-text08 {
  top: 326px;
  left: 997px;
  color: rgba(0, 0, 0, 1);
  width: 339px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame4-text10 {
  top: 88px;
  left: 70px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
